{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} - Goodies and Co{% endblock %}

{% block body %}




<div class="container">
    <div class="row">
        <div class="col-md-5">
        <img src="/Assets/ressources/img/uploads/products/{{ product.picture }}" alt="{{ product.name }}"class="img-fluid">
        </div>

        <div class="col-md-7 my-auto product-single-item">
                <h3>{{ product.name }}</h3>
                <span class="product-single-price">{{ (product.price / 100)|number_format(2, ',' , '.') }}€</span>
                <hr>
                <p>{{ product.description }}</p>
                <a href="{{ path('add_to_cart', {'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>

        </div>
    </div>
</div>

{% endblock %}