{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Goodies and Co{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h2>Je finalise ma commande</h2>
        <p>Choissisez vos préférences avant de passer votre commande sur Goodies and Co.</p>
        <hr>
        <div class="col-md-6 form_color">
            {% set formHtml %}
            {{ form_start(form, {action:path('purchase_recap')}) }}


            {{ form_end(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '</br>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récap de ma commande</b>
                <p>Retrouvez le récapitulatif de vos produits</p>
            </div>


            <div class="purchase_summary">
                {% for product in cart %}
                <div class="row">

                    <div class="col-3">
                        <img src="/Assets/ressources/img/uploads/products/{{ product.product.picture }}"
                            alt="{{ product.product.name }}" height="75px" /><br><br>
                    </div>

                    <div class="col-6 my-auto">
                        {{ product.product.name }}<br>
                        <small>{{ product.product.description }}</small>
                    </div>

                    <div class="col-2 my-auto">
                        x {{ product.quantity }}
                    </div>


                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}